* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  body {
    font-family: sans-serif;
  }
  #f251ed70-b53a-4948-ac4e-11d680c3dceb{
      width: 29rem;
      height: 27rem;
      justify-self: start;
      padding-left: 5rem;
      
  }

  

  header {
    position: fixed;
    top: 2.5vw;
    left: 2.5vw;
    width: 95vw;
  
    background-color: #35382e;
  
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  
    color: white;
    padding: 0.5rem;
  
    z-index: 10;
  }
  #n1{
      height: 10rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./reddit-components.PNG");
  }
  #n2{
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./gmail.PNG");
}
#n3{
  height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./tweexton.PNG");
}
.video{
  display: grid;
  place-items: center;
  row-gap: 2rem;
  padding: 2rem;
}

  .top img{
      position: absolute;
      justify-self: end;
  }
  
  header nav ul {
    list-style: none;
  
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 1rem;
  }
  
  header nav ul a {
    color: white;
    text-decoration: none;
  }
  header nav ul li{
    margin-left: 10px;  
    padding: 1rem;}
  
  header nav ul li:hover {
    
    
    background-color: tomato;
    font-weight: bold;
    text-decoration: none;
  }
  
  section.top {
    background-color: #f46d51;
    height: 100vh;
    

  
    display: grid;
    place-items: center;
  
    position: relative;
  }
  
  .top__info {
    background-color: #35382e;
    border-radius: 5px;
    width: 500px;
    position: absolute;
    padding: 1rem;
    color: #ffffffee;
  }
  
  .top__info h2 {
    text-align: center;
    color: #f9cd00;
    margin-bottom: 1rem;
  }
  
  .top__info p {
    margin-bottom: 0.5rem;
    line-height: 1.3;
    font-weight: 300;
  }
  #leaf{
      fill: #508e11;
      animation: leaf 2s 1 alternate forwards ease-out;
      transform: translate(-122px, -15%);
      position: absolute;
  }
  @keyframes leaf {
      100%{transform: translate(-895px, -150%)}
  }
  #f8b50a69-a369-42b8-943f-f14ba4f1f80f{
      animation: head 12s 2s 1 forwards linear;
  }
  @keyframes head {
      0%{fill: red;}
      5%{
        fill: red;
        transform: translate(33
        px
        , 48
        px
        );
      }
      10%{transform: translate(56px,117px);}
      15%{transform: translate(72px,186px);}
      20%{transform: translate(86px,268px);}
      25%{transform: translate(102px,310px);}
      30%{transform: translate(121px,365px);}
      35%{transform: translate(144px,475px);}
      45%{transform: translate(183px,375px);}
      55%{transform: translate(208px,475px);}
      65%{transform: translate(247px,400px);}
      75%{transform: translate(299px,475px);}
      85%{transform: translate(349px,430px);}
      100%{transform: translate(408px,475px);
        
        fill: red;}
  }


 path[d="M528.05143,314.93262a3.0924,3.0924,0,0,1-.99736-.16085,6.53654,6.53654,0,0,1-3.014-2.679c-4.86764-7.00083-7.218-16.33485-6.98492-27.74314.09849-4.82636.64469-10.99714,4.02469-15.916,2.84239-4.13608,8.59213-7.41845,13.95049-5.77081a5.79219,5.79219,0,0,1,2.8897-5.34718c2.02955-1.24293,4.47283-1.47173,6.628-1.6743,5.44223-.51008,11.0681-1.03735,16.57871.00688,6.179,1.172,11.2311,4.35671,13.861,8.7375l.05376.13762.53459,2.596a2.46521,2.46521,0,0,0,3.28237,1.81063,2.23672,2.23672,0,0,1,3.00152,2.41447l-.14924,1.03262,1.55431-.29074a2.23775,2.23775,0,0,1,2.50952,2.97487l-.43911,1.18745a2.3539,2.3539,0,0,1,1.71128.7535,2.16367,2.16367,0,0,1,.29332,2.54908,20.27084,20.27084,0,0,1-7.1604,7.20426,16.923,16.923,0,0,1-5.23278,2.05793,100.50121,100.50121,0,0,1-36.46,1.09628,20.55532,20.55532,0,0,1,.815,7.38016c-.38793,3.11249-2.21534,5.68092-4.65561,6.54323a11.24288,11.24288,0,0,1-1.7014.4103,9.97584,9.97584,0,0,0-1.62441.39481,4.75374,4.75374,0,0,0-1.39174,8.12464l1.20337-1.25411-.39137,1.5943a2.2875,2.2875,0,0,1-1.16638,1.45238A3.20545,3.20545,0,0,1,528.05143,314.93262Z"]{
    transition-delay: 2s;
    animation: hair 1s 2s 1 forwards linear;
 }
 @keyframes hair {
     100%{fill: rgba(255, 255, 255, 0);}
     
 }


  .blob{
      background-color: wheat;
      width: 55%;
      height: 30%;
      top: 30%;
      left: 35%;
      position: absolute;
      transform: rotate(25deg);
      animation: blob 40s infinite alternate;
   
      border-top-left-radius: 50%;
    border-top-right-radius: 50% 100%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50% 100%;
      /* z-index: 1; */
  }
  @keyframes blob {
      0%{      border-top-left-radius: 50%;
        border-top-right-radius: 10% 100%;
        border-bottom-right-radius: 10%;
        border-bottom-left-radius: 10% 100%;
}
  
  25%{      border-top-left-radius: 10%;
    border-top-right-radius: 50% 100%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10% 100%;
}
50%{      border-top-left-radius: 10%;
    border-top-right-radius: 10% 100%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 10% 100%;
    transform: scale(0.7);
}
75%{      border-top-left-radius: 10%;
    border-top-right-radius: 10% 100%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 50% 100%;
}
100%{      border-top-left-radius: 50%;
    border-top-right-radius: 50% 100%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50% 100%;
}
}

  
  .top__info p strong {
    color: #4e94aa;
    font-weight: 400;
  }
  
  .top .arrow-down {
    position: absolute;
    bottom: 3rem;
    font-size: 5rem;
    color: white;
    animation: arrow 1s infinite alternate;
  }
  @keyframes arrow {
      100%{bottom: 6rem;}
  }
  
  
  section.projects {
    background-color: #ede6e1;
    padding: 1rem;
  }
  
  section.projects h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  
  .project-list {
    list-style: none;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  .project-item {
    border: solid 1px black;
    border-radius: 3px;
    transition: 2s;
    padding: 0.7rem;
  
    display: grid;
    gap: 0.2rem;
  }
  li.project-item:hover{
    transform: scale(0.9);
    
    opacity: 90%;
    box-shadow: 0 0 20px rgb(0, 17, 255) ;
    background-color: #f3e1f3;
    border: solid 2px rgb(139, 51, 51);
}

  
  .project-item__title {
    color: #fd7b60;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .project-item__link {
    background-color: #fd7b60;
    text-align: center;
    color: white;

    text-decoration: none;
    padding: 0.2rem;
  }
  .experience{
      background-color: #5bc3eb;
  }
  
  ul.experience-list{
      display: grid;
      place-items: center;
      list-style: none;
      margin: 1.8rem 0rem;
      padding-bottom: 1.5rem;
      margin-bottom: 0;
  }

  ul.experience-list li{
      background-color: #ede6e2;
      padding: 1.5rem;
      margin: 0.7rem 0rem;
  }

  .experience h2{
      text-align: center;
      padding-top: 1.5rem;
  }

  li.experience-item{
      display: grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 1.5rem;
      justify-items: center;
      align-items: center;
      transition: 2s;
  }
  li.experience-item:hover{
    transform: scale(1.2);
    
    opacity: 90%;
    box-shadow: 0 0 20px rgb(0, 17, 255) ;
    background-color: #f3e1f3;
    border: solid 2px rgb(139, 51, 51);
  }
  li.experience-item img{
    width: 3rem;
}
footer{
    background-color: #35382e;
    color: white;
    text-align: center;
    padding: 2rem;
   
}
footer a{
    color: white;
    font-size: 1.4rem;
    
}

/* TENNIS */

div.ball {
    width: 45px;
    height: 45px;
  
    position: fixed;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    animation-timing-function: ease-out;}
  
    div.player1 img{
        width: 10rem;
        position: fixed;
        top: 500px;
        left: -2%;
        z-index: -2;
        animation-name: player1;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          /* animation-delay: 5s; */
          animation-direction: alternate;
        
    }
    @keyframes player1{
      0%{ z-index: 5;}
      100%{z-index: -10;}
    }
  
  
  
    div.paragraph{
        background-color: rgb(118, 143, 143);
    }
    div.player2 img{
        width: 7rem;
        position: fixed;
        z-index: -4;
        top: 500px;
        left: 93%;
        animation-name: player2;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        
    }
    @keyframes player2 {
        0%{z-index: -15;}
        100%{z-index: 5;}
    }
  
    div.player2-rest img{
        width: 7rem;
        position: fixed;
        z-index: -4;
        top: 500px;
        left: 93%;
        animation-name: player2-rest;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        
    }
    @keyframes player2-rest {
        0%{z-index: 15;}
        100%{z-index: -5;}
    }
    
    .score{
        position: absolute;
        z-index: 50;
        font-size: 40px;
        background-color: rgba(245, 222, 179, 0.582);
        top: 224px;
        right: -20%;
        animation: score 15s 2s 1 forwards;
    }
    @keyframes score {
        100%{right: 100%;}
        
    }
  
    div.player2-rest img{
        position: fixed;
        z-index: -1;
        width: 7rem;
        left: 93%;
        
        top: 500px;
    }
     div.player1-rest img{
        position: fixed;
        z-index: -5;
        width: 7rem;
        left: 0%;
        z-index: -2;
        animation-name: player1-rest;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        top: 500px;
    }
  
    @keyframes player1-rest {
        0%{z-index: -5;}
        100%{z-index: 10;}
    }
  
  @keyframes example {
      0%   { left:0%; top:500px;}
    1%   { left:1%; top:497px;}
    2%   { left:2%; top:494px;}
    3%   { left:3%; top:491px;}
    4%   { left:4%; top:488px;}
    5%   { left:5%; top:485px;}
    6%   { left:6%; top:482px;}
    7%   { left:7%; top:479px;}
    8%   { left:8%; top:476px;}
    9%   { left:9%; top:473px;} 
    10%   { left:10%; top:470px;} 
    11%   { left:11%; top:467px;}
    12%   { left:12%; top:464px;}
    13%   { left:13%; top:461px;}
    14%   { left:14%; top:458px;}
    15%   { left:15%; top:455px;}
    16%   { left:16%; top:452px;}
    17%   { left:17%; top:449px;}
    18%   { left:18%; top:446px;}
    19%   { left:19%; top:443px;}
    20%   { left:20%; top:440px;}
    21%  { left:21%; top:437px;}
    22%  { left:22%; top:434px;}
    23%  { left:23%; top:431px;}
    24%  { left:24%; top:428px;}
    25%  { left:25%; top:425px;}
    26%  { left:26%; top:422px;}
    27%  { left:27%; top:419px;}
    28%  { left:28%; top:416px;}
    29%  { left:29%; top:413px;}
    30%  { left:30%; top:410px;}
    31%  { left:31%; top:407px;}
    32%  { left:32%; top:404px;}
    33%  { left:33%; top:401px;}
    34%  { left:34%; top:398px;}
    35%  { left:35%; top:395px;}
    36%  { left:36%; top:392px;}
    37%  { left:37%; top:389px;}
    38%  { left:38%; top:386px;}
    39%  { left:39%; top:383px;}
    40%  { left:40%; top:380px;}
    41%  { left:41%; top:377px;}
    42%  { left:42%; top:374px;}
    43%  { left:43%; top:373px;}
    44%  { left:44%; top:370px;}
    45%  { left:45%; top:367px;}
    46%  { left:46%; top:364px;}
    47%  { left:47%; top:361px;}
    48%  { left:48%; top:358px;}
    49%  { left:49%; top:355px;}
    50%  { left:50%; top:352px;}
    51%  { left:51%; top:349px;}
    52%  { left:52%; top:352px;}
    53%  { left:53%; top:355px;}
    54%  { left:54%; top:358px;}
    55%  { left:55%; top:361px;}
    56%  { left:56%; top:364px;}
    57%  { left:57%; top:367px;}
    58%  { left:58%; top:369px;}
    59%  { left:59%; top:372px;}
    60%  { left:60%; top:375px;}
    61%  { left:61%; top:378px;}
    62%  { left:62%; top:381px;}
    63%  { left:63%; top:384px;}
    64%  { left:64%; top:387px;}
    65%  { left:65%; top:390px;}
    66%  { left:66%; top:393px;}
    67%  { left:67%; top:396px;}
    68%  { left:68%; top:399px;}
    69%  { left:69%; top:402px;}
    70%  { left:70%; top:405px;}
    71%  { left:71%; top:408px;}
    72%  { left:72%; top:411px;}
    73%  { left:73%; top:414px;}
    74%  { left:74%; top:417px;}
    75%  { left:75%; top:420px;}
    76%  { left:76%; top:423px;}
    77%  { left:77%; top:426px;}
    78%  { left:78%; top:429px;}
    79%  { left:79%; top:432px;}
    80%  { left:80%; top:435px;}
    81%  { left:81%; top:438px;}
    82%  { left:82%; top:441px;}
    83%  { left:83%; top:444px;}
    84%  { left:84%; top:447px;}
    85%  { left:85%; top:450px;}
    86%  { left:86%; top:453px;}
    87%  { left:87%; top:456px;}
    88%  { left:88%; top:459px;}
    89%  { left:89%; top:462px;}
    90%  { left:90%; top:465px;}
    91%  { left:91%; top:468px;}
    92%  { left:92%; top:471px;}
    93%  { left:93%; top:474px;}
    94%  { left:94%; top:477px;}
    95%  { left:95%; top:480px;}
    96%  { left:96%; top:483px;}
    97%  { left:97%; top:486px;}
    98%  { left:98%; top:489px;}
    99%  { left:99%; top:492px;}
    100% { left:100%; top:495px;}
  }

@media screen and (max-width: 650px) {
  iframe{
    width: 350px;
  }
  #f251ed70-b53a-4948-ac4e-11d680c3dceb{
    width: 30rem;
    
    place-self: start;
  
    
}
 
}